{% load static %}
<div class="card">
       <div class="card-body">
              <dl class="dlist-align">
                     <dt>
                            Total price:
                     </dt>
                     <dd class="text-right">
                            USD {{ total_price}}
                     </dd>
              </dl>
              <dl class="dlist-align">
                     <dt>
                            VAT Amount:
                     </dt>
                     <dd class="text-right">
                            USD {{ vat_amount}}
                     </dd>
              </dl>
              <dl class="dlist-align">
                     <dt>
                            Total:
                     </dt>
                     <dd class="text-right  h5">
                            <strong>
                                   ${{ total_price_vat }}
                            </strong>
                     </dd>
              </dl>
              <hr>
              <p class="text-center mb-3">
                     <img src="{% static 'images/misc/payments.png' %}" height="26">
              </p>
       </div> <!-- card-body.// -->
       <div id="smart-button-container">
              <div style="text-align: center;">
                     <div id="paypal-button-container"></div>
              </div>
       </div>       
       <script src="https://www.paypal.com/sdk/js?client-id=AYXJtTJXLq6rUHnXGBJt2370tqbHJiD1Hs50vzDyXG4Zess4BBILPvF5O2HlKM93Ud-xxA0oPmh4h_Q-&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory">
       </script>
       <script>
              console.log("ttttt")
              
              function getCookie(name) {
                     let cookieValue = null;
                     if (document.cookie && document.cookie !== '') {
                            const cookies = document.cookie.split(';');
                            for (let i = 0; i < cookies.length; i++) {
                                   const cookie = cookies[i].trim();
                                   // Does this cookie string begin with the name we want?
                                   if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                   cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                   break;
                                   }
                            }
                     }
                     return cookieValue;
              }
              var amount = "{{ total_price_vat }}"
              var url = "{% url 'orders:payments' %}"
              var csrftoken = getCookie('csrftoken');
              {% comment %} var orderID = "{{order.order_number}}" {% endcomment %}
              var payment_method = 'PayPal'
              var redirect_url = "{% url 'orders:place_order' %}"
              
              function initPayPalButton() {
                     paypal.Buttons({
                     style: {
                     shape: 'pill',
                     color: 'gold',
                     layout: 'vertical',
                     label: 'paypal',
                     
                     },
       
                     createOrder: function(data, actions) {
                            return actions.order.create({
                                   purchase_units: [{"amount": {"currency_code":"USD",
                                          "value": "{{ total_price_vat }}"
                            }]
                            });
                     },
       
                     onApprove: function(data, actions) {
                            return actions.order.capture().then(function(orderData) {
              
              // Full available details
                                   
                                   console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                                   sendData();
                                   function sendData(){
                                          fetch(url, {
                                                 method : 'POST',
                                                 headers : {
                                                        'Content-Type': "application/json",
                                                        "X-CSRFToken" : csrftoken,
                                                 },
                                                 body : JSON.stringify({
                                                        transID:  orderData.id,
                                                        payment_method : payment_method,
                                                        amount_paid : amount,
                                                        status : orderData.status,
                                                        created_at: orderData.create_time,
                                                 }),
                                          }).then((response) => response.json())
                                          .then((data) =>{
                                                 window.location.href = redirect_url;
                                          });
                                   }
                                   });
              // Show a success message within this page, e.g.
                                   const element = document.getElementById('paypal-button-container');
                                   element.innerHTML = '';
                                   element.innerHTML = '<h3>Thank you for your payment!</h3>';
       
              // Or go to another URL:  actions.redirect('thank_you.html');
              
                            }
              //},
       
                     {% comment %} onError: function(err) {
                            console.log(err);
                     } {% endcomment %}
                     }).render('#paypal-button-container');
       }
       initPayPalButton();
       </script>
</div>  
