{% load static %}
<div class="card">
       <div class="card-body">
              <dl class="dlist-align">
                     <dt>
                            Total price:
                     </dt>
                     <dd class="text-right">
                            USD {{ total_price}}
                     </dd>
              </dl>
              <dl class="dlist-align">
                     <dt>
                            VAT Amount:
                     </dt>
                     <dd class="text-right">
                            USD {{ vat_amount}}
                     </dd>
              </dl>
              <dl class="dlist-align">
                     <dt>
                            Total:
                     </dt>
                     <dd class="text-right  h5">
                            <strong>
                                   ${{ grand_total }}
                            </strong>
                     </dd>
              </dl>
              <hr>
              {{ form.render }}
              {% comment %} <p class="text-center mb-3">
                     <img src="{% static 'images/misc/payments.png' %}" height="26">
              </p> {% endcomment %}
       </div> <!-- card-body.// -->
       
</div>  
