{% load static %}
<div class="col-heading content-body">
       <header class="section-heading">
              <h3 class="section-title">Deals and offers</h3>
              <p>Hygiene equipments</p>
       </header><!-- sect-heading -->
       <div class="timer">
              <div> <span class="num" id="day">04</span> <small>Days</small></div>
              <div> <span class="num" id="hour">12</span> <small>Hours</small></div>
              <div> <span class="num" id="min">58</span> <small>Min</small></div>
              <div> <span class="num" id="sec">02</span> <small>Sec</small></div>
       </div>
</div>

<script src="{% static 'js/deals_timer.js' %}" type="text/javascript"></script>