<section class="py-3 bg-light">
       <div class="container">
              <ol class="breadcrumb">
                     <li class="breadcrumb-item">
                            <a href="#">
                                   Home
                            </a>
                     </li>
                     <li class="breadcrumb-item">
                            <a href="#">
                                   Category name
                            </a>
                     </li>
                     <li class="breadcrumb-item">
                            <a href="#">
                                   Sub Category
                            </a>
                     </li>
                     <li class="breadcrumb-item">
                            <a href="#">
                                   Items
                            </a>
                     </li>
              </ol>
       </div>
</section>