<div class="row">
       {% for product in products %}
              <div class="col-md-4">
                     <figure class="card card-product-grid">
                            <div class="img-wrap">
                                   <a href="{{ product.get_url }}">
                                          <img src="{{ product.image.url }}">
                                   </a>
                            </div>
                            <figcaption class="info-wrap">
                                   <div class="fix-height">
                                          <a href="{{ product.get_url }}" class="title">
                                                 {{ product.product_name }}
                                          </a>
                                          <div class="price-wrap mt-2">
                                                 <span class="price">
                                                        ${{ product.price }}
                                                 </span>
                                                 <small class="text-muted">
                                                        /per item 
                                                 </small>
                                          </div>
                                   </div>
                                   <hr>
                                   <p class="mb-3">
                                          <span class="tag">
                                                 <i class="fa fa-check"></i>
                                                 verified
                                          </span>
                                          <span class="tag">
                                                 2 Years
                                          </span>
                                          <span class="tag">
                                                 Japan
                                          </span>
                                   </p>
                                   <label class="custom-control mb-3 custom-checkbox">
                                          <input type="checkbox" class="custom-control-input">
                                          <div class="custom-control-label">
                                                 Add to compare
                                          </div>
                                   </label>
                                   <a href="#" class="btn btn-outline-primary">
                                          <i class="fa fa-envelope">
                                                 Contact Supplier
                                          </i>
                                   </a>
                            </figcaption>
                     </figure>
              </div>
       {% endfor %}
</div>