<header class="mb-3">
       <div class="form-inline">
              <strong class="mr-md-auto">{{ products.count }} items found</strong>
              <select class="m4-2 form-control">
                     <option>Latest Items </option>
                     <option>Trending     </option>
                     <option>Most Popular </option>
                     <option>Cheapset     </option>
              </select>
              <div class="btn-group">
                     <a href="#" class="btn btn-light active" data-toggle="tooltip" title="List View">
                            <i class="fa fa-bars"></i>
                     </a>
                     <a href="#" class="btn btn-light" data-toggle="tooltip" title="Grid View">
                            <i class="fa fa-th"></i>
                     </a>
              </div>
       </div>
</header>