{% extends 'base.html' %}
{% load static %}
{% block content %}    
       <header class="section-header">
              {% include 'includes/sub_navbar.html' %}
       </header>
       <section class="section-content padding-y">
              <div class="container">
                     {% include 'includes/filter.html' %}
                     {% include 'includes/select_view.html' %}
                     <div class="flex_container">
                            <aside class="col-md-3">
                                   {% include 'includes/aside_index.html' %}
                            </aside>
                            {% include 'includes/products.html' %}
                     </div>
                     {% include 'includes/pagination.html' %}
                     {% include 'includes/satisfaction.html' %}
              </div>
       </section>
       {% include 'includes/subscription.html' %}
{% endblock %}